body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: helvetica, sans-serif;
    background-color: #f5f5f5;
    width: 100%;
}

div {
    text-align: left;
}

#results {
    width: 100%;
}

.noResultMessage {
    padding: 5px;
    color: #d2d2d2;
}

.resultElement {
    padding: 2px;
    min-width: 628px;
    overflow: visible;
}

.resultElement:not(:last-child) {
    border-bottom: 2px solid #fff;
}

.url:hover {
    color: #696969;
    cursor: pointer;
}

.details {
    font-size: 12px;
}